__pycache__/
*.pyc
*.pyo
*.pyd

# build artifacts
build/
dist/
*.egg-info/
*.egg

# environment
venv/
.venv/
env/
.env/

# IDEs
.idea/
.vscode/

# test coverage
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# dataset and generated artifacts
mem_files/input*.mem
*.log
*.vcd
bnn_sim
